body {
    background-color: rgb(56,56,56);
}
header {
    margin-top: 20px;
    margin-bottom: 40px;
    color: aliceblue;
}
.button {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid;
    color: rgb(94, 221, 253);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 70em;
    gap: 0.5em;
    justify-self: center;
}

section {
    background-color: rgb(146, 46, 44);
    padding: 0.3em;
    border-radius: 0.2em;
    
}
.image-container {
    background-color: rgb(207, 193, 179);
    width: 15em;
    height: 8.42em;
}
.work-images {
    width: 15em;
    height: 8.42em;
}
h2 {
    margin-top: 13px;
}
section:hover {
    transform: scale(1.03);
    transition: 0.1s ease-in;
    animation: glowEffect 2s infinite alternate;
}
.loading-screen {
    justify-self: center;
}
.loading-text {
    justify-self: center;
    color: aliceblue;
    font-family: Georgia;
    font-weight: bold;
}
.animated-square {
    justify-self: center;
    width: 100px;
    height: 100px;
    margin: 1em;
    background-color: brown;
    border-radius: 5%;
    animation-name: color-change;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation: bounce-n-spin 3s infinite;
}


@media screen and (max-width: 1060px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 781px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:521px) {
    .container {
        grid-template-columns: 1fr;
    }
} 
@keyframes color-change {
    0% {
        background-color: brown;
    }
    25% {
        background-color: rgb(255, 179, 0);
    }
    50% {
        background-color: rgb(131, 203, 67);
    }
    75% {
        background-color: rgb(47, 106, 255);
    }
    100% {
        background-color: rgb(255, 0, 0);        
    }
}
@keyframes bounce-n-spin {
    0% {
        transform: rotate(0deg);
    }
    10% {
        width: 120px;
        height: 80px; 
        transform: translateY(0px);
    }
    15% {
        width: 80px;
        transform: rotate(30deg);
        transform: translateY(-70px);
        height: 120px;
    }
    20% {
        transform: translateY(-74px);
    }
    23% {
        width: 100px;
        height: 100px;
        transform: translateY(-76px);
    }
    50% {
        transform: translateY(-78px);
    }
    51% {
        transform: translateY(-76px);
        width: 95px;
        height: 105px;
    }
    69% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes glowEffect {
    0% {
        box-shadow: 0 0 8px rgba(255, 34, 0, 0.3);
    }
    50% {
        box-shadow: 0 0 15px rgba(255, 42, 0, 0.6);
    }
    100% {
        box-shadow: 0 0 8px rgba(255, 34, 0, 0.3);
    }
}